name: truecaller_sdk
description: Flutter plugin that uses Truecaller's Android SDK to provide mobile number verification service to verify users.
version: 0.1.0
homepage: https://github.com/truecaller/flutter-sdk

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.truecallersdk
        pluginClass: TruecallerSdkPlugin
      ios:
        pluginClass: TruecallerSdkPlugin